{% extends 'base.html' %}

{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
        <div class="container">
            <div class="row">
                {{ flatpage.content }}
            </div>
        </div>
    </section>
{% endblock %}