{% extends 'movies/base.html' %}

{% block movie %}
            <div class="left-ads-display col-lg-9">
                <div class="row">
                    {% for movie in movie_list %}
                    <div class="col-md-4 product-men">
                        <div class="product-shoe-info editContent text-center mt-lg-4" >
                            <div class="men-thumb-item">
                                <a href="{{ movie.get_absolute_url }}" class="herf">
                                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="" >
                                </a>

                            </div>
                            <div class="item-info-product">
                                <h4 class="">
                                    <a href="{{ movie.get_absolute_url }}" class="editContent" >{{ movie.title }}</a>
                                </h4>

                                <div class="product_price">
                                    <div class="grid-price">
                                        <span class="money editContent" >{{ movie.tagline }}</span>
                                    </div>
                                </div>
                                <ul class="stars">
                                    <li><a href="#"><span class="fa fa-star" aria-hidden="true" ></span></a></li>
                                    <li><a href="#"><span class="fa fa-star" aria-hidden="true" ></span></a></li>
                                    <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true" ></span></a></li>
                                    <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true" ></span></a></li>
                                    <li><a href="#"><span class="fa fa-star-o" aria-hidden="true" ></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--<div class="grid-img-right mt-4 text-right bg bg1" >
                    <span class="money editContent" >Flat 50% Off</span>
                    <a href="moviesingle.html" class="btn" >Now</a>
                </div>-->
            </div>
            <div class="grid-img-right mt-4 text-right bg bg1">
                {% include 'include/pagination.html' %}
            </div>
<!-- //contact -->
{% endblock movie %}
