<!DOCTYPE html>
{% load static recaptcha3 %}
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
    <!-- //Fonts -->
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>
<body>
<div id="page" class="page">
<div class="main-banner bg{% block header %}{% endblock header %} " id="home">
    {% include 'include/header.html' %}
</div>
    {% block content %}

    {% endblock content %}
{% include 'include/footer.html' %}
</div>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="http://twitter.github.io/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
</body>
</html>